<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <div class="left">
        <ion-title>Menu</ion-title>
      </div>
      <div class="right">
        <ion-menu-toggle>
          <ion-button size="small" shape="round" color="danger">Close</ion-button>
        </ion-menu-toggle>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-item button (click)="schedule()">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>
        <h2>&nbsp;Products</h2>
      </ion-label>
    </ion-item>
    <ion-item button (click)="products()">
      <ion-icon name="pricetag-outline"></ion-icon>
      <ion-label>
        <h2>&nbsp;Products</h2>
      </ion-label>
    </ion-item>
    <ion-item button (click)="contacts()">
      <ion-icon name="call-outline"></ion-icon>
      <ion-label>
        <h2>&nbsp;Contacts</h2>
      </ion-label>
    </ion-item>
    <ion-item button (click)="faqs()">
      <ion-icon name="help-circle-outline"></ion-icon>
      <ion-label>
        <h2>&nbsp;FAQs</h2>
      </ion-label>
    </ion-item>
    <ion-item button color="success" (click)="profile()">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>
        <h2>&nbsp;Profile</h2>
      </ion-label>
    </ion-item>
    <ion-item button color="danger" (click)="backToHome()">
      <ion-icon name="log-out-outline"></ion-icon>
      <ion-label>
        <h2>&nbsp;Logout</h2>
      </ion-label>
    </ion-item>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Profile</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div class="float-container">

      <div class="float-childOne">
        <img alt="Profile Picture" src="/assets/images/profPic.jpg" class="profPic" />
      </div>
  
      <div class="float-childTwo">
        <h2 class="userFullname">Firstname Lastname</h2>
        <h5 class="userName">@username123</h5>
      </div>
    </div>
  
    <ion-list class="container2">
  
    </ion-list>
  
    <ion-list>
      <ion-item-group>
        <ion-item-divider>
          <ion-icon name="person-circle-outline"></ion-icon>
          <ion-label>
            <h6 class="textTwo">&nbsp;PROFILE</h6>
          </ion-label>
        </ion-item-divider>
  
        <ion-item button id="editProfile">
          <ion-label>Edit Profile</ion-label>
          <ion-alert trigger="editProfile" header="Edit Profile" [buttons]="alertButtons"
            [inputs]="editProfileInput"></ion-alert>
        </ion-item>
  
        <ion-item button id="changeUserName">
          <ion-label>Change Username</ion-label>
          <ion-alert trigger="changeUserName" header="Change your Username" [buttons]="alertButtons"
            [inputs]="changeUserNameInput"></ion-alert>
        </ion-item>
  
        <ion-item button id="changePass">
          <ion-label>Change Password</ion-label>
          <ion-alert trigger="changePass" header="Change your Password" [buttons]="alertButtons"
            [inputs]="changePassInput"></ion-alert>
        </ion-item>
      </ion-item-group>
  
      <ion-item-group>
        <ion-item-divider>
          <ion-icon name="ellipsis-horizontal-circle-outline"></ion-icon>
          <ion-label>
            <h6 class="textTwo">&nbsp;OTHERS</h6>
          </ion-label>
        </ion-item-divider>
  
        <ion-item button (click)="setOpen(true)">
          <ion-label>Privacy Policy</ion-label>
          <ion-alert  [isOpen]="isAlertOpen" 
                      header="Privacy Policy" 
                      message="A privacy policy is a statement or legal document that discloses some or all of the ways a party gathers, uses, discloses, and manages a customer or client's data." 
                      [buttons]="okButtons"
                      (didDismiss)="setOpen(false)">
          </ion-alert>
        </ion-item>
  
        <ion-item button (click)="ToUsetOpen(true)">
          <ion-label>Terms of Use</ion-label>
          <ion-alert  [isOpen]="ToUisAlertOpen" 
                      header="Terms of Use" 
                      message="Terms of service are the legal agreements between a service provider and a person who wants to use that service. The person must agree to abide by the terms of service in order to use the offered service. Terms of service can also be merely a disclaimer, especially regarding the use of websites. " 
                      [buttons]="okButtons"
                      (didDismiss)="ToUsetOpen(false)">
          </ion-alert>
        </ion-item>
      </ion-item-group>
    </ion-list>
  </ion-content>
</div>