ion-content {
  --background: linear-gradient(rgba(92, 174, 250, 0.7), rgba(102, 243, 236, 0.7)), url(/assets/images/boatBg2.jpeg) 0 0/100% 100% no-repeat;
}

.hdrStyleOne{
  color: #000000;
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 40px;
}

.getStartedBtn{
  --background: #ffffff;
  color: #000000;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}